<h1 class="title">Lista de productos</h1>


 
<table class="product-table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Código</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Categoría</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.code}}</td>
                <td>{{this.price}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.category}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

<div class="formulario">
    <h1>Formulario</h1>
        <form id="input_products">
            <div class="inputs">
                <input type="text" id="name" autocomplete="off" placeholder="Ingresar Name" required>
                <input type="text" id="description" autocomplete="off" placeholder="Ingresar description" required>
                <input type="text" id="code" autocomplete="off" placeholder="Ingresar code" required>
                <input type="text" id="price" autocomplete="off" placeholder="Ingresar price" required>
                <input type="text" id="stock" autocomplete="off" placeholder="Ingresar stock" required>
                <input type="text" id="category" autocomplete="off" placeholder="Ingresar category" required>

            </div>
            <div class="botones">
                <button type="submit">Enviar</button>
            </div>
        </form>
</div>



